@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap');

body {
    background-color: #4D5DB8;
    margin: 0;
}

.navigation {
    background-color: #FBC31A;
    margin: 20px 80px;
    border: 6px solid #343437;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: fit-content;
    height: 80px;
    margin-left: 8px;
}

.selection {
    margin-left: auto;
    padding: 20px;
}

.selection a {
    margin-left: 20px;
    text-decoration: overline;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #343437;
}

.selection a:hover {
    color:#5874ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0ECEB;
    background-size: 70px 70px;
    background-image: linear-gradient(to right, #343437 2px, transparent 2px),
                    linear-gradient(to bottom, #343437 2px, transparent 2px);
    margin: 16px 80px;
    padding: 40px;
    border: 4px solid #343437;
    flex-wrap: wrap;
}

.line-breaks {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #343437;
    height: 4px;
    margin: 10px 0;
}

.name-container {
    background-color: #FBC31A;
    border: 4px solid #343437;
    text-align: center;
}

.name-container p {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #343437;
}

.name-container h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 50px;
    color: #343437;
    padding: 0px 20px 0px 20px;
    margin: 8px 0;
}

.name-container h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: #343437;
    padding: 0px 20px 0px 20px;
}

.me-img {
    border: 4px solid #343437;
    border-radius: 50%;
    margin: 10px;
    max-width: 20%;
}

.my-interests-container {
    background-color: #92C558;
    border: 4px solid #343437;
    margin: 40px;
}

.my-interests-container h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    padding: 0px 20px;
    color:#343437;
}

.my-interests-container li {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 0px 20px;
    color: #343437;
}

.my-interests-container p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #343437;
}

.gallery-title {
    background-color: #FBC31A;
    border: 4px solid #343437;
    margin-top: 28px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.gallery-title h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    padding: 0px 20px;
    color:#343437;
}

.gallery-container img {
    margin: 8px;
    border: 15px solid #343437;
    width: 300px;
    height: 300px;
}

.testimonial-container {
    background-color: #92C558;
    border: 4px solid #343437;
    margin: 40px;
}

.testimonial-container h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    padding: 0px 20px;
    color:#343437;
}

.testimonial-container li {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #343437;
}

.testimonial-container p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #343437;
}

.comment-section {
    background-color: #FBC31A;
    border: 4px solid #343437;
    margin: 40px;
}

.comment-section h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    padding: 0px 20px;
    color:#343437;
}

.comment-section li {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 0px 20px;
    color: #343437;
}

.comment-section p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #343437;
}

.new-comments {
    text-align: center;
}

.leave-comments {
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0px 20px;
}